
h1 {
	font-size: 5em;
	text-align:center;
	margin: 20px 0;
	position:relative;
	//color:#544C4A;
	color:maroon;
	//font-family:"Warnock Pro";
	//font-family: 'Black Ops One', cursive;
	font-family: 'Unkempt', cursive;
}
h3 {
	color:yellow;
}

#content {
	float:left;
	color:white;
	width:60%;
	height:350px;
	display:inline;
	text-align:center;

}	

#userinfo {
	float:left;
	width:20%;
	height:150px;
	padding-top:10px;
}

#header {
	width:80%;
	height:150px;
	float:left;
}

#rightcolumn {
	height:350px;
	width:20%;
	float:left;
}

#footer {
	width:100%;
	clear:both;
	height:50px;
	background-color:yellow;
}

.create {
	//color:maroon;
	color:#232323;
	padding:10px 0 10px;
	margin:0 200px 0 200px;
	background-color:#fff8cc;	
	-moz-border-radius: 15px;
	border-radius: 15px;
}
